.gallery{
background:#101010;
padding:60px 20px;
text-align:center;
}

.gallery h2{
color:white;
margin-bottom:30px;
}

.filters button{
background:#2e3a2e;
border:none;
color:white;
padding:10px 20px;
margin:5px;
cursor:pointer;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:15px;
margin-top:30px;
}

.item{
width:100%;
border:3px solid #2e3a2e;
cursor:pointer;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    background: rgba(18, 18, 18, 0.8); 
    z-index: 1000;
    font-weight: bold;
    text-transform: uppercase;
}

nav a {
    color: #eaeaea; 
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #d35400; 
}